nav.navbar .logged-in-user-email {
    color: aqua;
    font-weight: bold;
}

#book-list-cards-container .card {
    width: 20rem;
}

#book-title .author, .authors .author {
    color: grey;
}

#book-title .author.author-1, .authors .author.author-1 {
    color: black;
    font-weight: bold;
}

#book-title .author.author-2, .authors .author.author-1 {
    color: black;
}

.min-vw-90 {
    min-width: 90vw !important;
}